# Tuples

-> A tuple is similar to list, but those are immutable

-> The difference between the two is that we can't change the elements of tuple once it is assigned(i.e.immutable) whereas in the list, elements can be changed(mutable)

# Tuple Creation

In [3]:
#empty tuple
t = ()

#tuple having integers
t = (1,2,3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t=(1,(2,3,4),[1, 'raju', 28, 'abc']) #the second element in the tuple is tuple only and third is list
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [4]:
#only paranthesis is not enough
t = ('mayur')
type(t)

str

In [5]:
#need a comma at the end
t = ('mayur',)
type(t )

tuple

In [6]:
#paranthesis is optional
t = 'satish', #because of comma python understands it's a comma
print(type(t))

print(t)

<class 'tuple'>
('satish',)

In [9]:
t= 'mayur',3,'kalyani',54 #as here we have more than one elements so need of comma at the end
print(type(t))

print(t)

<class 'tuple'>
('mayur', 3, 'kalyani', 54)

# Accessing Elements in Tuple

In [10]:
t = ('satish','murali','naveen','srinu','brahma')

print(t[1])

murali

In [12]:
#negative index
print(t[-1]) #last element of tuple

brahma

In [14]:
#nested tuple
t = ('satish',('murali','naveen','srinu','brahma'))

print(t[1])

print(t[1][2]) #way of indexing tuple within tuple

('murali', 'naveen', 'srinu', 'brahma')
srinu

# Tuple Slicing

In [15]:
#Slicing in tuples and lists in Python follows similar syntax, but there are differences due to the mutability of lists and the immutability of tuples.

t = (1,2,3,4,5,6,7,8)

print(t[1:4])

# print elements from starting to 2nd last elements
print(t[:-2])

#print elements from start to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# Attempting to modify tuple elements using slicing (which is not possible)
# t[1:3] = (10, 20)  # This will raise a TypeError
# lists allow modification of elements using slicing, while tuples do not allow due to their immutability.

In [17]:
#now we know that elements of tuple cannot be changed once assigned. But, if the element is itself mutable 
#datatype like list, its nested items can be changed
t = (1,2,3,4,5,[6,7,8]) #nested tuple with list

#changing element in list which is inside tuple
t[5][1]='Mayur'
print(t)

(1, 2, 3, 4, 5, [6, 'Mayur', 8])

In [18]:
#concatinating tuples
 
t = (1,2,3)+(4,5,[6,7,8])
print(t)

(1, 2, 3, 4, 5, [6, 7, 8])

In [19]:
#repeat the elements in a tuple for a given number of times
#using *operation
t = (('mayur',)*4)
print(t)

('mayur', 'mayur', 'mayur', 'mayur')

In [20]:
t = (('mayur','kalyani')*4)
print(t)

('mayur', 'kalyani', 'mayur', 'kalyani', 'mayur', 'kalyani', 'mayur', 'kalyani')

# Tuple Deletion

In [22]:
# we cannot change the elements in a tuple.
#that also means we cannot delete or remove items from a tuple

t = (1,2,3,4,5,6,7,8)

#delete entire tuple using del keyword

del t

# Tuple Count

In [23]:
t = (1,2,3,1,3,3,4,1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

# Tuple Index

In [24]:
t = (1,2,3,1,3,3,4,1)

print(t.index(3)) #return index of the first element which is equal to 3

2

# Tuple Membership

In [25]:
# test if an item exists in a tuple or not, using keyword in.
t = (1,2,3,1,3,3,4,1)

print(1 in t)

True

In [26]:
print(7 in t)

False

# Built in Function

## Tuple Length

In [27]:
t = (1,2,3,1,3,3,4,1)
print(len(t))

8

## Tuple sort

In [30]:
t = (1,2,3,1,3,3,4,1)

new_t=sorted(t) # using sorted on tuple will return a list

print(new_t) #sorted "list" will be printed

#as tuples are immutable, so sorted does not sort the tuple itself

[1, 1, 1, 2, 3, 3, 3, 4]

In [31]:
#get the largest elements in tuple
t = (1,2,3,1,3,3,4,1)

print(max(t))

4

In [34]:
#get the smalled elements in tuple
t = (1,2,3,1,3,3,4,1)

print(min(t))

1

In [35]:
#get the sum of elements in tuple
t = (1,2,3,1,3,3,4,1)

print(sum(t))

18