# Sets

-> A set is an unordered collection of items. Every element is unique (no duplicates)

-> As set is unordered , so we cannot index it

-> The set itself is mutable. We can add or remove items from it.

-> Sets can be used to perform mathematical set oprations like union, intersection, summetric, difference etc.

# Set Creation

In [4]:
#set of integers
s = {1,2,3}  #set is a mathematical set and one element stores only once internally that's why duplicated are not allowd
print(s)

#print type of s
print(type(s))

{1, 2, 3}
<class 'set'>

In [3]:
#set does not allow duplicates, they store ony one instance.
s = {1,2,3,1,4,5,3}
print(s)

{1, 2, 3, 4, 5}

In [6]:
#set from a list
s = set([1,2,3,4,1,2,3,4])
print(s)

{1, 2, 3, 4}

In [8]:
#initialize a set with set() method
s = set()
print(type(s))

<class 'set'>

# Add element to a set

In [10]:
# we can add single element using add() method and
#add multiple elements using update() method

s = {1,3}

# set object doesn't support indexing
#print(s[1]) #this will throw typeerror

In [11]:
#add element
s.add(2)
print(s)

{1, 2, 3}

In [12]:
#add multiple elements
s.update([4,5,7])
print(s)

{1, 2, 3, 4, 5, 7}

In [13]:
#add list and set
s.update([8,9],{10,2,3})
print(s)

{1, 2, 3, 4, 5, 7, 8, 9, 10}

# Remove elements from a set

In [16]:
#a particular item can be removed from set using methods,
#discard() and remove()
s = {1, 2, 3, 4, 5, 7, 8, 9, 10}
print(s)

s.discard(4) #4 is removed from set s

print(s)

{1, 2, 3, 4, 5, 7, 8, 9, 10}
{1, 2, 3, 5, 7, 8, 9, 10}

In [17]:
#remove an element
s.remove(2)
s

{1, 3, 5, 7, 8, 9, 10}

In [23]:
#removing an element which is not present in set s
#s.remove(11) #will throw keyerror

In [21]:
#discarding an element which is not present in set s
s.discard(11) #11 is not present, but still it will not throw any error
print(s)

{1, 3, 5, 7, 8, 9, 10}

In summary, if you're not sure whether an element exists in the set and you don't want to handle potential errors, you can use the discard() method. If you expect the element to always be in the set and want to raise an error if it's not, you can use the remove() method.

In [31]:
#we can remove item using pop() method
s = {1, 2, 3, 4, 5, 7, 8, 9, 10}

s.pop() #removes randomly one element

print(s)

{2, 3, 4, 5, 7, 8, 9, 10}

In [32]:
s.pop()
print(s)

{3, 4, 5, 7, 8, 9, 10}

In [33]:
s = {1, 2, 3, 4, 5, 7, 8, 9, 10}

s.clear() #remove all items in set using clear() method

print(s)

set()

# Python Set Operations

In [35]:
s1 = {1, 2, 3, 4,5}

s2 = {5, 7, 3, 9, 1}

#union of 2 sets using | operator  (| is OR operator)

print(s1 | s2)

{1, 2, 3, 4, 5, 7, 9}

In [36]:
#union using another way
print(s1.union(s2))

{1, 2, 3, 4, 5, 7, 9}

In [38]:
#intersection of 2 sets using & operator
print(s1 & s2)

{1, 3, 5}

In [39]:
#use of intersection function
print(s1.intersection(s2))

{1, 3, 5}

In [41]:
#set difference: set of elements that are only in set1 but not in set2

print(s1-s2)

{2, 4}

In [42]:
#use of difference function
print(s1.difference(s2))

{2, 4}

symmetric difference of two sets is a set containing elements that are in either of the sets, but not in their intersection. In simpler terms, it's the set of elements that are in one of the sets, but not in both.

In [43]:
#symmetric diff using ^ operator (exponent operator)
print(s1^s2)

{2, 4, 7, 9}

In [44]:
#using symmetric_difference_function
print(s1.symmetric_difference(s2))

{2, 4, 7, 9}

In [46]:
#find issubset()
x={'a','b','c','d','e'}
y={'c','d'}

print("set 'x' is subset of 'y' ? ", x.issubset(y)) #check x is subset of y
print("set 'y' is subset of 'x' ? ", y.issubset(x))

set 'x' is subset of 'y' ?  False
set 'y' is subset of 'x' ?  True

# Frozen Sets

    Frozen sets has the characteristics of sets, but it can't be changed once it's assigned. While Tuple are immutable lists, frozen sets are immutable sets

    Frozensets can be created using the function frozenset()

    Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

    This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [2]:
s1 = frozenset([1, 2, 3, 4,5])

s2 = frozenset([5, 7, 3, 9, 1])

#try to add element into s1 gives an error
#s1.add(5) #AttributeError: 'frozenset' object has no attribute 'add'

In [4]:
#print(s1[1]) #frozen set does not support indexing

In [5]:
print(s1 | s2) #union of 2 sets

frozenset({1, 2, 3, 4, 5, 7, 9})

In [6]:
#intersection of two sets 
print(s1 & s2)

#or
print(s1.intersection(s2))

frozenset({1, 3, 5})
frozenset({1, 3, 5})

In [8]:
#symmetric diff
print(s1^s2)

#or
print(s1.symmetric_difference(s2))

frozenset({2, 4, 7, 9})
frozenset({2, 4, 7, 9})